body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15px;
  padding: 0;
  margin:0;

}
header .container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}
header{
  color: white;
  background: #999999;
  min-height: 70px;
  font-family: 'Abel', sans-serif;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header a:hover{
  color: #0000FF;
  font-weight: bold;
}
header ul{
  margin-bottom: 10px;
  padding: 0;
}
header li{
  float: none;
  display: inline;
  text-align:center;
  margin-left: 180px;
  padding:0 10px 0 10px;
}
footer .container-fluid{
  width: 100%;
  margin:auto;
  overflow:hidden;
}
footer{
  color: white;
  background: #999999;
  min-height: 70px;
}
img {
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0px auto;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
}

footer li {
  float: left;
}

footer li a {
  display: block;
  color: white;
  text-align: center;
  margin-left: 40px;
  padding:0;
  text-decoration: none;
}
